{% extends 'base.html' %}
{% load static %}
{% block title %}台灣氣象預報網{% endblock %}
{% block content %}
<div class="main-content__wrapper">
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">帳號:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">登入</button>
    </form>
</div>
{% endblock %}