{% extends 'base.html' %}
{% load static %}
{% block title %}台灣氣象預報網{% endblock %}
{% block content %}
<div class="main-content__wrapper">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="username">帳號:</label>
        {{ form.username }}
        <br><br>
        <label for="email">電子郵件:</label>
        {{ form.email }}
        <br><br>
        <label for="password">密碼:</label>
        {{ form.password1 }}
        <br><br>
        <label for="confirm_password">確認密碼:</label>
        {{ form.password2 }}
        <br><br>
        <button type="submit">註冊</button>
    </form>    
</div>
{% endblock %}