{% extends 'base.html' %}
{% load static %}
{% block title %}台灣氣象預報網{% endblock %}
{% block content %}
<div class="main-content__wrapper">
    <h2 class="main-content__title section__title">歡迎來到<br><span>台灣氣象預報網</span><br></h2>
    <p class="main-content__text">提供最新的天氣預報，包括現在天氣、一周預報和地震資訊。</p>
    <a href="{% url 'current_weather' %}" class="main-content__link-button link-button">今日天氣</a>
    <div class="main-content__social">
        <a href="https://github.com/YuYu0u0/twnweather">
            <img class="social_link" src="{% static 'weather/images/github.png' %}" alt="GitHub">
        </a>
    </div>
</div>
{% endblock %}
