body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.header, .footer {
  width: 100%;
  color: white;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.header {
  background-color: #6495ed;
  top: 0;
}

.footer {
  background-color: #778899;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__nav-link, .sidebar__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.header__nav-link:hover, .sidebar__link:hover {
  background-color: #4169e1;
}

.main-content {
  margin: 80px 0 0 150px;
  padding: 1rem;
}

.sidebar {
  height: 100vh;
  width: 150px;
  background-color: #e6e6fa;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar__link {
  color: black;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
}

.main-content__wrapper {
  padding: 50px 30px 80px;
}

.main-content__title, .main-content__text, .main-content__social {
  margin-bottom: 20px;
}

.section__title, .main-content__text {
  font-family: "Philosopher";
}

.section__title {
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
  line-height: 1.2;
}

.main-content__title {
  font-size: 60px;
}

.main-content__title > span {
  color: #778899;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-content__text {
  margin-bottom: 25px;
}

.link-button {
  display: inline-block; /* 改為 inline-block 確保按鈕與文本不同 */
  width: 120px;
  background-color: #000;
  border-radius: 3px;
  padding: 10px 20px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.main-content__link-button {
  display: block; /* 改為 block 確保按鈕獨佔一行 */
  margin-bottom: 40px;
}

.link-button:hover {
  background-color: #778899;
}

.social_link{
  border-radius: 20%;
  width: 50px;
}